<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials :: head('Create')"></head>
<body>
<div id="wrapper">
    <nav th:replace="partials/partials :: nav"></nav>
    <header th:replace="partials/partials :: header('Create a post')"></header>
    <main class="container">
        <form th:action="@{/posts/create}" th:method="POST">
            <label for="post-title">Title: </label>
            <input id="post-title" type="text" name="post-title" class="form-control wbd">
            <label for="post-description">Description: </label>
            <textarea id="post-description" type="text" name="post-description" class="form-control wbd"></textarea>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </main>
    <footer th:replace="partials/partials :: footer"></footer>
</div>
<th:block th:replace="partials/partials :: scripts"></th:block>
</body>