<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials :: head('Edit')"></head>
<body>
<div id="wrapper">
  <nav th:replace="partials/partials :: nav"></nav>
  <header th:replace="partials/partials :: header('Edit your post')"></header>
  <main class="container">
    <form th:object="${post}" th:action="@{|/posts/${post.id}/edit|}" th:method="POST">
      <label for="title">Title: </label>
      <input id="title" type="text" th:field="*{title}" class="form-control wbd">
      <label for="body">Description: </label>
      <textarea id="body" th:field="*{body}" class="form-control wbd"></textarea>
      <button class="btn btn-primary" type="submit">Edit post</button>
    </form>
  </main>
  <footer th:replace="partials/partials :: footer"></footer>
</div>
<th:block th:replace="partials/partials :: scripts"></th:block>
</body>