<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/partials :: head('Post Details')"></head>
<body>
<div id="wrapper">
    <nav th:replace="partials/partials :: nav"></nav>
    <header th:replace="partials/partials :: header(${post.title})"></header>
    <main class="container">
        <p th:text="${post.body}"></p>
        <p>The user's email: <span th:text="${post.user.email}"></span></p>
        <div sec:authorize="isAuthenticated()">
        <a th:href="@{|/posts/${post.id}/edit|}" th:if="${#authentication.principal.id == post.user.id}">Edit post</a>
        </div>
    </main>
    <footer th:replace="partials/partials :: footer"></footer>
</div>
<th:block th:replace="partials/partials :: scripts"></th:block>
</body>