<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials :: head('Login')"></head>
<body>
<div id="wrapper">
    <nav th:replace="partials/partials :: nav"></nav>
    <header th:replace="partials/partials :: header('Login')"></header>
    <div th:if="${param.error}">
        Invalid Username and Password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>

    <main class="container">
        <form th:action="@{/login}" method="post">
            <label for="username">Username</label>
            <input id="username" name="username" type="text" class="form-control wbd"/>
            <label for="password">Password</label>
            <input id="password" name="password" type="password" class="form-control wbd"/>
            <button class="btn btn-primary mt-2" type="submit">Submit</button>
        </form>
    </main>
    <footer th:replace="partials/partials :: footer"></footer>
</div>
</body>
<th:block th:replace="partials/partials :: scripts"></th:block>
</html>
