<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials :: head('Sign-up')"></head>
<body>
<div id="wrapper">
    <nav th:replace="partials/partials :: nav"></nav>
    <header th:replace="partials/partials :: header('Sign-up')"></header>
    <main class="container">
        <form th:action="@{/sign-up}" method="POST" th:object="${user}">
            <label for="username">Username</label>
            <input id="username" th:field="*{username}" class="form-control wbd"/>

            <label for="email">Email</label>
            <input id="email" th:field="*{email}" class="form-control wbd"/>

            <label for="password">Password</label>
            <input id="password" type="password" th:field="*{password}" class="form-control wbd"/>

            <button class="btn btn-primary mt-2" type="submit">Sign me up!</button>
        </form>
    </main>
    <footer th:replace="partials/partials :: footer"></footer>
</div>
<th:block th:replace="partials/partials :: scripts"></th:block>
</body>
</html>
